.addAndSeacrh {
    display: flex;
    align-items: center;
    justify-content: start;
}
.searchText {
    margin-left: 20px;
    width: 330px;
}
.addLink {
    height: 38px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    border: 1.5px solid;
}
.tableData{
    width:750px;
}